* {
  font-family: "Helvetica", "Arial", sans-serif;
}
body {
  margin: 0;
  background-color: #1e293b;
  color: #cbd5e1;
}

/* Header */
.title {
  font-size: 48px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}
.divider {
  min-height: 2px;
  width: 100vw;
  background: #334155;
}

/* Sidebar */
.sidebar {
  width: 20%;
  height: calc(100vh - 103px);
  position: sticky;
  bottom: 0px;
  left: 0px;
  border-right: 1px solid #334155;
}
.sidebar-content {
  padding: 20px 14px;
}
.sidebar-item {
  border-radius: 4px;
  padding: 8px 6px;
  margin: 4px 0;
}
.sidebar-item:hover {
  background-color: #334155;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.sidebar-item-active {
  background-color: #475569;
}
